.fh-catalog {
  @apply my-4 py-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 md:gap-10 transition-all;

}

.item {
  @apply shadow-lg hover:shadow-xl rounded-md overflow-hidden transition-all;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .button {
    color: #ffffff;

    &:focus,
    &:hover {
      opacity: 0.7;
    }
  }
}

.item__title {
  @apply text-lg font-bold mb-4;
}

.item__info {
  @apply p-4;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__list {
  @apply flex flex-wrap m-0 my-4 transition-all p-0;
}

.item__list-item {
  @apply px-2 m-0 mr-2 mb-2 w-auto rounded-xl bg-brandLight text-center;
}
